/* @import "../styles.css"; */

.menu {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  position: fixed;
  z-index: 1;
  /* TODO: maybe try and find the bug so we don't have to hard code position */
  left: 0;
  background-color: rgb(255, 255, 255);
}


img {
  width: max(min(20vw, 250px), 150px);
  border-radius: 0.7rem;
}

img:hover {
  transform: scale(0.995);
  filter: opacity(95%);
}

.header {
  padding: 25px;
  color: white;
}



.line{
  margin-top: 1%;
  border: 1px solid lightblue;
  width: 70%;
}

.header-title {
  margin-bottom: 0;
}

.welcome {
  display: flex;
  flex-direction: column;
}

.page {
  counter-reset: listCounter;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /*or center*/
  /* margin-bottom: 100px; */
}

.stack {
  counter-increment: listCounter;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 300px;
}

.on-right {
  border: 5px solid lightblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 0;
  flex: 1;
}

.pop {
  display: flex;
  margin-top: 60px;
  margin-bottom: 55px;
  justify-content: center;
}

/* connector only appears for last circle if popup is opened */
.stack:last-child .pop {
  display: flex;
  border: 5px solid lightblue;
  border-bottom: 0px;
  padding-top: 50px;
  margin-top: -4px;
  width: 0;
}

/* make last connector disappear */
.stack:last-child .on-right {
  background-color: inherit;
  border: 0; 
}

.circles {
  background: lightblue;
  width: min(max(30vw, 130px), 180px);
  height: min(max(30vw, 130px), 180px);
  border-radius: 50%;
  opacity: 1;
  display: flex;
  justify-content: center;
  padding: 10px;
  margin-top: -10px;
}

.circles:hover {
  cursor: pointer;
}
/* numbering on the page */
.circles::before {
  content: counter(listCounter);
  display: flex;
  position: absolute;
  color: rgba(213, 240, 248, 1);
  font-weight: bold;
  margin-top: -15px;
  /* distance of number from circle step */
  right: min(max(30vw, 100px), 160px);
  font-size: min(max(15vw, 150px), 175px);
  height: inherit;
}

/* .digit {
  border: 3px dashed white;
  position: absolute;
  right: 250px;
  font-size: 12rem;
  color: rgba(213, 240, 248, 1);
  font-weight: Bold;
} */

/* styling for the instructions/text */
.instruction {
  color: rgba(0, 0, 0, 1);
  font-weight: Bold;
  font-size: min(max(3.5vw, 14px), 20px);
  display: flex;
  align-items: center;
}

.instruction:hover {
  cursor: pointer;
  color: rgb(68, 68, 68);
}

.line-divider {
  border-bottom: 3px solid lightblue;
}

