* {
  font-family: "Roboto", sans-serif;
  /* border: 1px solid red; */
}

.title {
  color: rgba(255, 255, 255, 1);
  font-weight: Bold;
  padding: 25px;
  font-size: min(7vw, 70px);
}

.subtitle {
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 10px;
  font-size: 0.55em;
}

.welcome {
  display: flex;
  flex-direction: column;
}

.page {
  counter-reset: listCounter;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /*or center*/
  margin-bottom: 100px;
}

.stack {
  counter-increment: listCounter;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 300px;
}

.on-right {
  border: 5px solid lightblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 0;
  flex: 1;
}

.popups {
  display: flex;
  margin-top: 60px;
  margin-bottom: 55px;
  justify-content: center;
}

/* connector only appears for last circle if popup is opened */
.stack:last-child .popups {
  display: flex;
  border: 5px solid lightblue;
  border-bottom: 0px;
  padding-top: 50px;
  margin-top: -4px;
  width: 0;
}

/* make last connector disappear */
.stack:last-child .on-right {
  background-color: inherit;
  border: 0;
}

.circles {
  background: lightblue;

  width: min(max(30vw, 130px), 180px);
  height: min(max(30vw, 130px), 180px);
  border-radius: 50%;
  opacity: 1;
  display: flex;
  justify-content: center;
  padding: 10px;
  margin-top: -10px;
}

.circles:hover {
  cursor: pointer;
}
/* numbering on the page */
.circles::before {
  content: counter(listCounter);
  display: flex;
  position: absolute;
  color: rgba(213, 240, 248, 1);
  font-weight: bold;
  margin-top: -15px;
  /* distance of number from circle step */
  right: min(max(30vw, 100px), 160px);
  font-size: min(max(15vw, 150px), 175px);
  height: inherit;
}

/* .digit {
  border: 3px dashed white;
  position: absolute;
  right: 250px;
  font-size: 12rem;
  color: rgba(213, 240, 248, 1);
  font-weight: Bold;
} */

/* styling for the instructions/text */
.instruction {
  color: rgba(0, 0, 0, 1);
  font-weight: Bold;
  font-size: min(max(3.5vw, 14px), 20px);
  display: flex;
  align-items: center;
}

.instruction:hover {
  cursor: pointer;
  color: rgb(68, 68, 68);
}

.link {
  text-decoration: inherit;
  color: inherit;
}

img {
  width: min(50vw, 500px);
  margin-bottom: 100px;
}

.img{
  background-color: white;
}

/* styling for the circles */
/* .circles.first {
  background: rgba(213, 240, 248, 1);
}

.circles.second {
  background: #9fd2e1;
}

.circles.third {
  background: #56a7bf;
}

.circles.fourth {
  background: #298aa7;
} */

/* styling for the connectors */
/* .connector {
  width: 8px;
  height: 150px;
  opacity: 1;
  position: relative;
  left: 96px;
  overflow: hidden;
  justify-self: center;
}

.connector.first {
  background: linear-gradient(rgba(213, 240, 248, 1), rgba(159, 210, 225, 1));
}

.connector.second1 {
  height: 75px;
  background: linear-gradient(rgba(159, 210, 225, 1), rgba(123, 189, 208, 1));
}

.connector.second2 {
  height: 75px;
  background: linear-gradient(rgba(123, 189, 208, 1), rgba(86, 167, 191, 1));
}

.connector.third1 {
  height: 75px;
  background: linear-gradient(rgba(86, 167, 191, 1), rgb(62, 141, 163));
}

.connector.third2 {
  height: 75px;
  background: linear-gradient(rgba(62, 141, 163), rgba(41, 138, 166, 1));
}

.connector.fourth {
  height: 75px;
  background: linear-gradient(rgba(41, 138, 166, 1), rgb(201, 211, 214));
} */
