#header {
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 1;
  background-color: white;
  box-shadow: 0 0 10px rgb(0 0 0 / 15%), 0 3px 3px rgb(0 0 0 / 15%);
  transition: 0.5s;
}

img {
  border-radius: 0.7rem;
  padding: 5px 0;
  width: max(min(20vw, 300px), 150px);
}

img:hover {
  transform: scale(0.97);
  filter: opacity(80%);
}

.header {
  padding: 25px;
  color: white;
}

.line {
  margin-top: 1%;
  border: 2px solid lightblue;
  background-color: lightblue;
}

.header-title {
  margin-bottom: 0;
}

.welcome {
  display: flex;
  flex-direction: column;
}

.page {
  counter-reset: listCounter;
  display: flex;
  flex-direction: column;
}

.stack {
  counter-increment: listCounter;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 250px;
}

.on-right {
  border: 5px solid lightblue;
  background: lightblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 0;
  flex: 1;
}

.pop {
  display: flex;
  margin: 60px 0;
  justify-content: center;
}

/* connector only appears for last circle if popup is opened */
.stack:last-child .pop {
  display: flex;
  border: 5px solid lightblue;
  background: lightblue;
  border-bottom: 0px;
  padding-top: 50px;
  margin-top: -4px;
  width: 0;
}

/* make last connector disappear */
.stack:last-child .on-right {
  background-color: inherit;
  border: 0;
}

.circles {
  background: lightblue;
  width: min(max(30vw, 130px), 180px);
  height: min(max(30vw, 130px), 180px);
  border-radius: 50%;
  opacity: 1;
  display: flex;
  justify-content: center;
  padding: 10px;
  margin-top: -10px;
}

.circles:hover {
  cursor: pointer;
}

/* numbering on the page */
.circles::before {
  content: counter(listCounter);
  display: flex;
  position: absolute;
  color: rgba(213, 240, 248, 1);
  font-weight: bold;
  /* distance of number from circle step */
  right: min(max(20vw, 100px), 170px);
  font-size: min(max(15vw, 115px), 140px);
  height: inherit;
}

/* styling for the instructions/text */
.instruction {
  color: rgba(0, 0, 0, 1);
  font-weight: Bold;
  font-size: min(max(3.5vw, 14px), 20px);
  display: flex;
  align-items: center;
}

.instruction:hover {
  cursor: pointer;
  color: rgb(68, 68, 68);
}

.line-divider {
  border-bottom: 3px solid lightblue;
}
