* {
  box-sizing: border-box;
}

/* centers all of the divs vertically over the popup */
.centering-all {
  margin-top: 2%;
}
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  /* size of the popup window */
  width: 70%;
  height: 90%;
  background: rgba(255, 255, 255, 0.95);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

/* styling for the header */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 810px;
  height: 216.68px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: #000000;
}

.title {
  margin: 0px;
  font-weight: bold;
  font-size: 4rem;
  line-height: 77px;
}

.title2 {
  font-weight: normal;
  font-size: 1.7rem;
  line-height: 31px;
  display: flex;
}

/* stying for the body */
.body {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  font-family: "Roboto", sans-serif;
  position: center;
}

/* styling for each of the 3 programs */
.program {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  position: relative;
  width: 250px;
  height: 310px;
  left: 0px;
  top: 0px;
  margin: 0 10px;
}

.pillars {
  position: center;
  width: 225px;
  height: 31px;
  margin: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 26.4494px;
  line-height: 31px;
  text-align: center;
  color: #000000;
}

.circle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: relative;
  width: 225px;
  height: 225px;
  left: 0px;
  top: 31px;
  background: #d5f0f8;
  border-radius: 225px;
}

.description {
  position: center;
  width: 225px;
  height: 225px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 26.4494px;
  line-height: 31px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}

.footer {
  position: relative;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

.close-icon {
  cursor: pointer;
  font-size: 3.5rem;
  position: fixed;
  right: 3%;
  z-index: 1;
}
