/* styling for the body */
.main {
  display: flex;
  flex-direction: column;
}

.program {
  display: flex;
  flex-direction: column;
  padding: 0.2rem;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.circle-heading {
  margin: 0;
  display: flex;
  font-size: max(min(2vw, 15px), 10px);
  margin-bottom: 1rem;
}

.circle-program {
  display: flex;
  align-items: center;
  padding: 1rem;
  width: max(min(20vw, 150px), 90px);
  height: max(min(20vw, 150px), 90px);
  background: #d5f0f8;
  border-radius: 50%;
}

.circle-program:hover {
  background: lightblue;
}

.circle-description {
  font-size: max(min(2vw, 15px), 9px);
}

.footer {
  display: flex;
  flex-direction: column;
  font-size: max(min(1.8vw, 18px), 9px);
}

@media only screen and (min-width: 768px) {
  /* widths greater than iPad portrait: */
  .main {
    flex-direction: row;
  }
}
