/* @import "../styles.css"; */

.popup.programs {
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
  padding: 0.5rem;
  background: white;
}

/* styling for the body */
.main {
  display: flex;
  flex-direction: row;
  /* align-items: flex-start; */
  /* justify-content: space-evenly; */
  /* padding: 0px; */
}

/* styling for each of the 3 programs */
.program {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  /* position: relative; */
}

.circle-heading {
  margin: 0px;
}

.circle-program {
  display: flex;
  /* flex-direction: column; */
  /* justify-content: center; */
  align-items: center;
  padding: 1rem;
  /* position: relative; */
  width: max(min(20vw, 180px), 150px);
  height: max(min(20vw, 180px), 150px);
  top: 1rem;
  background: #d5f0f8;
  border-radius: 225px;
}

.circle:hover {
  background: #cae4ec;
}

.description {
  position: center;
  display: flex;
  /* color: black; */
}

.footer {
  display: flex;
  flex-direction: column;
}

/* .popup-title {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}

.popup-subtitle {
  display: flex;
  flex-direction: column;
} */
