@import "../styles.css";

.welcomePopup {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 2rem;
}

.welcome-description {
  font-weight: bold;
  color: white;
}

/* styling for the body */
.looking-for {
  display: flex;
  justify-content: center;
}

.welcome-circle {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
  width: min(max(20vw, 130px), 200px);
  height: min(max(20vw, 130px), 200px);
  border-radius: 50%;
  background: #d5f0f8;
  margin: 0 5px;
}

.welcome-circle-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-style: normal;
  font-weight: bold;
  font-size: max(min(2.5vw, 22px), 17px);
}

.startNow {
  padding: 0;
  margin: 0;
  font-weight: bold;
  font-size: max(min(2.5vw, 30px), 18px);
}

.button {
  padding: 10px 15px;
}
