* {
  /* border: 1px solid red; */
}

.welcomePopup {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 2rem;
}

.welcometitle.two {
  color: white;
  font-size: max(min(2.5vw, 25px), 20px);
}

/* styling for the body */
.lookingfor {
  display: flex;
  justify-content: center;
}

.welcome-circle {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
  width: min(max(20vw, 130px), 200px);
  height: min(max(20vw, 130px), 200px);
  border-radius: 50%;
  background: #d5f0f8;
  margin: 0 5px;
}

.welcome-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-style: normal;
  font-weight: bold;
}

.welcome-description.second {
  font-size: 1rem;
}

.startNow {
  padding: 0;
  margin: 0;
  font-weight: bold;
  font-size: max(min(2.5vw, 30px), 18px);
}

.button {
  padding: 10px 15px;
}
