@import "../styles.css";

/* * {
  border: 1px solid red;
} */

.welcomePopup {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.welcome-description {
  font-weight: bold;
  color: white;
}

/* styling for the body */
.looking-for {
  display: flex;
  justify-content: center;
}

.welcome-circle {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
  width: min(max(20vw, 130px), 200px);
  height: min(max(20vw, 130px), 200px);
  border-radius: 50%;
  background: #d5f0f8;
  margin: 0 5px;
}

.welcome-circle-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-style: normal;
  font-weight: bold;
  font-size: max(min(2.5vw, 22px), 17px);
}

.startNow {
  padding: 0;
  margin: 0;
  font-weight: bold;
  font-size: max(min(2.5vw, 30px), 18px);
}

.button {
  padding: 10px 15px;
}

/* #2 */
.welcome-subtitle {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  font-size: max(min(2.5vw, 28px), 20px);
}

.choice {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 1000px;
}
.yes {
  border: 4px solid lightblue;
  margin: 0 10px 0 0;
}

.yes-text {
  font-size: max(min(2.5vw, 20px), 14px);
  color: black;
}

.no {
  color: black;
  background: none;
  border: 4px solid white;
  margin: 0 0 0 10px;
}

.no:hover {
  background: dimgray;
}

.no-text {
  color: white;
  font-size: max(min(2.5vw, 20px), 14px);
}
