@import "../styles.css";

.welcomePopup {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10rem 2rem 8rem 2rem;
  padding-top: max(min(10vw, 220px), 100px);
}

.welcome-subtitle {
  max-width: 1000px;
  font-size: 0.75em;
  font-weight: bold;
  color: white;
}

.choice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 75%;
  max-width: 450px;
}

.yes-button, .no-button {
  margin: 7px;
  width: 100%
}

.yes-button {
  border: 4px solid lightblue;
}

.no-button {
  background: none;
  border: 4px solid white;
}

.no-button:hover {
  background: dimgray;
}

.yes-text,
.no-text {
  font-weight: bold;
}
.yes-text {
  color: black;
}
.no-text {
  color: white;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .choice {
    flex-direction: row;
    max-width: 1000px;
  }
  .yes-button {
  border: 4px solid lightblue;
  margin: 0;
  height: 100%;
  white-space: nowrap;
  padding: 10px;
}

.no-button {
  color: black;
  background: none;
  border: 4px solid white;
  margin: 0 0 0 7px;
  padding: 5px;
  height: 100%;
}
}
