.congrats-page-styling {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 50px;
  background: rgba(255, 255, 255, 1);
  border-radius: 2rem;
}

.congrats-title {
  margin-left: 30px;
  margin-right: 30px;
  font-size: min(5vw, 30px);
}

.congrats-detail {
  font-size: 0.65em;
  font-weight: normal;
}

.link {
  text-decoration: inherit;
  color: inherit;
  background-color: lightblue;
  border: none;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  border-radius: 4px;
  padding-right: 6px;
  padding-left: 6px;
}

.link:hover {
  background-color: rgb(186, 224, 236);
}
