/* TODO: make this (and all popups) the same size */
/* TODO: make "congratulations" smaller */
/* @import "../styles.css"; */

.congrats-title {
  margin-left: 30px;
  margin-right: 30px;
  font-size: min(30vw, 30px);
}

.congrats-detail {
  font-size: 1rem;
  font-weight: normal;
}

