/* TODO: make this (and all popups) the same size */
/* TODO: make "congratulations" smaller */
/* @import "../styles.css"; */

.congrats-title {
  margin-left: 30px;
  margin-right: 30px;
  font-size: min(30vw, 30px);
}

.congrats-detail {
  font-size: 1rem;
  font-weight: normal;
}

.link {
  text-decoration: inherit;
  color: inherit;
  background-color: lightblue;
  border: none;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  border-radius: 4px;
  padding-right: 6px;
  padding-left: 6px;
}

.link:hover {
  background-color: rgb(186, 224, 236);
}
