/* progress bar */
/* TODO: see if we can make it dynamic */
.myProgress {
  display: flex;
  border-radius: 100px;
  overflow: hidden;
  margin: 15px 10px 30px 10px;
  background-color: rgb(236, 236, 236);
  height: 15px;
}

.myBar {
  background-color: lightblue;
}

.myBar.first {
  width: 1%;
}

.myBar.second {
  width: 34%;
}

.myBar.third {
  width: 67%;
}
