* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  height: 100%
}

/********************************/
/********** HTML TAGS ***********/
/********************************/

a {
  color: black;
  text-decoration: none;
}
form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

/* font sizing */
/* font-size: max(min(changing size, largest it can get), smallest it can get) */

h1 {
  font-size: max(min(7vw, 70px), 50px);
  color: white;
}
h2 {
  font-size: max(min(4vw, 40px), 30px);
  color: white;
}
h3 {
  font-size: max(min(3.5vw, 33px), 25px);
}
p {
  font-size: max(min(2vw, 20px), 13px);
}
label {
  font-size: max(min(2vw, 15px), 13px);
  padding: 0 6px 0 1px;
  vertical-align: middle;
}
input, select, textarea {
  font-size: max(min(2vw, 14px), 13px);
}

/********************************/
/*********** POPUPS *************/
/********************************/

/* all popups */
.popup {
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
  padding: 40px;
  background: #f5f5f5;
  align-items: stretch;
}

/* general header formatting */
.popup-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  align-self: center;
  width: max(min(70vw, 525px), 320px);
}

/* blue links */
.link {
  text-decoration: inherit;
  color: inherit;
  font-weight: 600;
  border: none;
  margin: 0 6px;
  text-align: center;
  border-radius: 4px;
  padding: 1.5px 8px;
  color: #2d2c2c;
  background: #d5f0f8;
  margin: 0 8px 0 8px;
}

.link:hover {
  background-color: rgb(186, 224, 236);
}

/********************************/
/********* FORM STYLING *********/
/********************************/

.form-group {
  text-align: left;
  margin: 6px;
  vertical-align: center;
}

/* most inputs */
input[type="text"],
input[type="textarea"],
input[type="number"],
input[type="email"],
textarea,
select {
  display: flex;
  padding: 5px 10px;
  margin: 4px 0 0 0;
  border: 1px solid rgb(236, 236, 236);
  border-radius: 4px;
  width: 100%;
  /* font-size: 12px; */
}

/* checkbox */
input[type="checkbox"] {
  width: 11px;
  height: 11px;
  margin: 4px 5px 4px 10px;
  vertical-align: middle;
}

/* dropdown */
select {
  display: inline;
  width: auto;
  margin: 0;
  padding: 3px 8px;
  background-color: rgb(236, 236, 236);
}

/* button */
button,
input[type="submit"] {
  background-color: lightblue;
  padding: 10px 28px;
  border: none;
  font-size: 0.9rem;
  border-radius: 4px;
  margin: 20px 20px 0 20px;
  min-width: 120px;
  display: inline;
  text-transform: uppercase;
}

/* glow */
input:focus,
textarea:focus,
select:focus {
  box-shadow: 0 0 8px lightblue;
  border: 1px solid lightblue;
  outline: lightblue;
}

/* hover */
button:hover,
input[type="submit"]:hover {
  cursor: pointer;
  background-color: #87b7c5; /* Green */
}

select:hover {
  cursor: pointer;
}