/* Styles.css
This file contains common styles that 
effects multiple parts of this code file 

TABLE OF CONTENTS:

1. Font Family
2. Scrolling Style
3. HTML Tags & Font Sizes (h, p, other text)
4. Popups
5. Forms 
6. Website Styling

https://css-tricks.com/snippets/css/media-queries-for-standard-devices/
*/

/********************************/
/******** 1. FONT FAMILY ********/
/********************************/

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

/********************************/
/********* 2. SCROLLING *********/
/********************************/

html {
  scroll-behavior: smooth;
  height: 100%;
  background: white;
}

html,
body {
  overscroll-behavior-x: none;
}

/********************************/
/********* 3. HTML TAGS *********/
/********************************/

/* font sizing */
h1,
h2 {
  color: white;
}
h1 {
  /* main title */
  font-size: max(min(7vw, 70px), 35px);
}
h2 {
  font-size: max(min(4vw, 40px), 20px);
}
h3 {
  /* titles of popups */
  font-size: max(min(3vw, 33px), 25px);
}
p {
  font-size: max(min(2vw, 20px), 13px);
}
input,
select,
textarea {
  font-size: max(min(2vw, 14px), 13px);
}
label {
  font-size: max(min(2vw, 15px), 13px);
  padding: 0 6px 0 0;
  vertical-align: middle;
}

/* other html tags */

a {
  color: #2d2c2c;
  text-decoration: none;
}

/********************************/
/********** 4. POPUPS ***********/
/********************************/

/* popup shape */
.popup {
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
  padding: 30px;
  background: #f5f5f5;
  align-items: stretch;
  box-shadow: 0 0 10px rgb(0 0 0 / 15%), 0 3px 3px rgb(0 0 0 / 15%);
}

/* popup general header */
.popup-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  align-self: center;
  width: max(min(75vw, 525px), 200px);
}

/* popup blue text links */
.link {
  text-decoration: inherit;
  color: inherit;
  font-weight: 600;
  border: none;
  margin: 0 6px;
  text-align: center;
  border-radius: 4px;
  padding: 1.5px 8px;
  color: #2d2c2c;
  background: #d5f0f8;
  margin: 0 8px 0 8px;
}

.link:hover {
  background-color: rgb(186, 224, 236);
}

/********************************/
/*********** 5. FORMS ***********/
/********************************/
form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.form-group {
  text-align: left;
  margin: 2px 0;
  vertical-align: center;
}

.inner-form-group {
  padding: 0px 0px 0px 13px;
}

/* most inputs */
input[type="text"],
input[type="textarea"],
input[type="number"],
input[type="email"],
textarea,
select {
  display: flex;
  padding: 5px 10px;
  margin: 0 0 0 -2px;
  border: none;
  border-radius: 4px;
  width: 100%;
}

/* checkbox */
input[type="checkbox"] {
  width: 11px;
  height: 11px;
  margin: 4px 5px 4px 2px;
  vertical-align: middle;
  position: absolute;
}

input[type="checkbox"] ~ label {
  padding-left: 1.4em;
  display: inline-block;
}

/* dropdown */
select {
  display: inline;
  width: auto;
  margin: 0;
  padding: 1px 4px;
  background-color: rgb(229, 229, 229);
}

/* button */
button,
input[type="submit"] {
  background-color: lightblue;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  margin: 20px 10px 0 10px;
  display: inline;
  text-transform: uppercase;
  font-size: max(min(2vw, 13px), 11px);
  /* font-weight: bold; */
}

/* glow */
input:focus,
textarea:focus,
select:focus {
  box-shadow: 0 0 8px lightblue;
  border: 1px solid lightblue;
  outline: lightblue;
}

/* hover */
button:hover,
input[type="submit"]:hover {
  cursor: pointer;
  background-color: #87b7c5; /* Green */
}
select:hover {
  cursor: pointer;
}

/********************************/
/********** 6. WEBSITE **********/
/********************************/

/* copy/paste these lines of code to change style based on device width*/
@media only screen and (min-width: 768px) {
  /* widths greater than iPad portrait: */
}

@media only screen and (min-width: 768px) {
  /* widths greater than iPad portrait: */

  button,
  input[type="submit"] {
    margin: 20px 40px 0 40px;
    min-width: 100px;
    /* font-weight: bold; */
  }
  .popup {
    padding: 40px;
  }
  .popup-title {
    width: max(min(70vw, 525px), 200px);
  }
  .form-group {
    margin: 7px 0;
  }
  .inner-form-group {
    padding: 0px 0px 0px 20px;
  }
}
